<footer class="footer" role="contentinfo">
  <ul>
    {% for item in footerLinks %}
      <li>
        <a href="{{ item.url }}">
          {{ item.title }}
        </a>
      </li>
    {% endfor %}
    <li>
      <a href="//www.twee-b.fr/">
        <svg class="o-icon" aria-hidden="true">
          <use xlink:href="sprites/icons.svg#tweeb"></use>
        </svg>
        <span class="u-hidden-visually">
          Réalisation twee b : agence web à Chalon-sur-Saône
        </span>
      </a>
    </li>
  </ul>
</footer>
