<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ siteName }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
  <link rel="icon" href="img/favicon.ico">
  <!--
  <link rel="preconnect" href="//fonts.googleapis.com" crossorigin>
  <link rel="preconnect" href="//fonts.gstatic.com" crossorigin>
  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link rel="dns-prefetch" href="//fonts.gstatic.com">
  <link rel="preconnect" href="//www.google-analytics.com">
  <link rel="dns-prefetch" href="//www.google-analytics.com">
  <link rel="preload" href="sprites/icons.svg" as="image">
  -->
  <link rel="stylesheet" href="css/main.min.css">
  <!--
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700">
  -->
  <script>
    document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/,'js');
  </script>
</head>
