<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
  <link rel="icon" href="img/favicon.ico">
  <link rel="stylesheet" href="css/main.min.css">
  <script>
    document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/,'js');
  </script>
</head>
