{% extends "layouts/default.twig" %}

{% block content %}
<main role="main">

  <h1>Aperitif</h1>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <h2>Des entrainements apnée adaptés </h2>

  <p>Un club d'apnée du débutant à l'athlète</p>

  <p>Notre club d'apnée AIDA et FFESSM vous offre la possibilité de pratiquer l'apnée toute l'année, quel que soit votre profondeur et votre discipline d'entrainement.</p>

  <div class="o-grid">
    <div class="o-grid__cell"></div>
    <div class="o-grid__cell"></div>
    <div class="o-grid__cell"></div>
  </div>

Notre semi-rigide est équipé d'un système de potence pour les câbles et la sécurité est supervisée par un instructeur trainer AIDA International et FFESSM.

L'idée étant avant tout de partager avec d'autres l'expérience et la bonne humeur! Ces entrainements sont accessibles a tous, quel que soit votre niveau*

Vous pourrez progresser en apnée verticale, en petit comité (maximum 4 apnéistes par câble), avec une structure adaptée pour l'apnée profonde.

Grâce à nos hraires d'entrainements flexibles, vous pourrez vous entrainer en apnée avant (9h/12h) ou après le travail (17h/20h) pour décompresser du stress de la journée !

*Pour une profondeur supérieure à 60m, merci de nous contacter au préalable pour vérifier les conditions météo

</main>
{% endblock %}

{% block head %}
  {{ parent() }}
  <style>
    body {
      background-color: cyan;
    }
  </style>
{% endblock %}
