<!doctype html>
<html class="no-js" lang="fr">

  {% include "../partials/head.html" %}

  <body>

    {% include "../partials/header.html" %}

    {% block content %}{% endblock %}

    {% include "../partials/footer.html" %}

    {% block js %}
      <script src="js/main.min.js" async defer></script>
    {% endblock %}

    <script>
      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>

  </body>
</html>
